[Unit]
Description=CosmoCraft Game Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/father/project/cosmocraft
ExecStart=/usr/bin/node dist/server/GameServer.js
Restart=on-failure
RestartSec=10
StandardOutput=append:/home/father/project/cosmocraft/nohup.out
StandardError=append:/home/father/project/cosmocraft/nohup.out
SyslogIdentifier=cosmocraft

Environment=NODE_ENV=production

[Install]
WantedBy=default.target
